<div class="content">
  <div class="container">
    <div class="load_more">
      <ul id="myList">
        <li>
          <div class="l_g">
            <div class="col-md-3 praesent">
              <div class="l_g_r">
                <div class="dapibus">
                  <h2>{{article.title}}</h2>
                  <img ng-src="{{path}}{{article.image}}" class="img-responsive" alt="">
                  <p>{{article.body}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 integ">
              <div class="l_g_r">
                <div class="posts">
                  <h4>List of Articles</h4>
                  <h6 ng-repeat="articles in data | orderBy : 'articles.title':true"><a ng-click="articleDetail(articles.id)">{{articles.title}}</a></h6>
                </div>
                <div class="comments">
                  <h4>List of Articles(Group by category)</h4>
                  <h6 ng-repeat="articles in data" ng-if="article.cat_id == articles.cat_id && article.id != articles.id"><a ng-click="articleDetail(articles.id)">{{articles.title}}</a></h6>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
